body {
  background-color: #f5f5f7;
  overflow-wrap: break-word;
}

.navbar a {
  color: #1d1d1f;
}

.main-div {
  padding: 3%;
}

.dashboard .card-value {
  font-size: 2rem;
}

.tab .active {
  background-color: #42a5f5 !important;
}

.indicator {
  background-color: white !important;
}

.collapsible-body {
  background-color: #1e88e5 !important;
}

.collapsible li {
  border-bottom: 1px solid #1976d2;
}

.collapsible-header {
  padding: 5% !important;
}

.collapsible-body a i {
  margin-right: 5px !important;
}

.collapsible-body .active a {
  background-color: #1976d2 !important;
  color: black !important;
}

#settings-dropdown {
  top: 100% !important;
  width: 20% !important;
}

#settings-dropdown li {
  padding: 5% !important;
}

#settings-dropdown label {
  font-size: 1rem;
}

#notification-dropdown {
  top: 100% !important;
  width: 50% !important;
  padding: 1% !important;
}

#notification-dropdown .card-action {
  padding: 8% !important;
}

#lineChartContainer,
#stackedBarChartContainer,
#dayLineChartContainer,
#monthLineChartContainer,
#yearLineChartContainer {
  height: 500px;
}

#pieChartContainer {
  height: 200px;
}

@media only screen and (min-width: 993px) {
  body {
    padding-left: 300px;
  }

  .navbar {
    padding-inline: 30px;
  }
}
